<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	<mapper namespace="com.kafkaTesting.kafka.kafkaTest.mapper.KafkaMapper">
	
	
	<select id = "selectEmpList"  resultType="java.util.HashMap" >
	
		SELECT * FROM CONTRACT
	
	</select>
		
	
	
	</mapper>